.layout-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}